@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fcfcfc !important;
}
.App{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 8%;
}
.card-container{
  width: 32%;
}
.form-container{
  width: 30%;
  padding: 25px 45px 40px 45px;
  border-radius: 28px;
  bbox-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-color: white;
  margin-bottom: 100px;
}
.form-head{
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.6px;
  font-weight: bold;
}

.edit-form-container {
  width: 90%;
  margin: auto;
  padding: 15px 25px 20px 25px;
  border-radius:0 0 12px 12px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  margin-bottom: 30px;
}


.edit-form-head {
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.6px;
  font-weight: bold;
}

.edit-form-head i{
  position: absolute;
  right: 180px;
  color: red;
  cursor: pointer;
}

.gallery{
  margin: 110px ; 
}

.gallery-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 101px 0;
}
